{% extends 'base.html' %}

{% block content %}

<div style="background-image: url('https://i.ibb.co/qMGPg9K/gradient-blur-pink-blue-abstract-background-53876-117324.jpg');">
<h1  style="background-color: #ad8c98; color: white; text-align:center">NEW TASK</h1>

<h4 style="text-align:center">Name: </h5>
<p style="text-align:center">{{nama}}</p>

<form method="POST" action="">
    {% csrf_token %}
    <table border="1" cellpadding="5" align="center">
        <tr>
            <td>TO DO LIST : </td>
            <td><input type="text" name="whattodo" placeholder="TO DO LIST" class="form-control"></td>
        </tr>   
        <tr>
            <td>Description: </td>
            <td><input type="text" name="description" placeholder="DESCRIPTION" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn login_btn" type="submit" value="Add Task" href="{% url 'todolist:show_todolist' %}"></td>
        </tr>
    </table>     
</form>
{% endblock content %}