{% extends 'base.html' %}

{% block content %}

<div style="background-image: url('https://i.ibb.co/qMGPg9K/gradient-blur-pink-blue-abstract-background-53876-117324.jpg');">
<h1  style="background-color: #ad8c98; color: white; text-align:center">TO DO LIST</h1>

<h4 style="text-align:center">Name: </h5>
<p style="text-align:center">{{nama}}</p>

<table border="1" cellpadding="5" align="center">
    <tr>
        <th>Date</th>
        <th>TO DO LIST</th>
        <th>Description</th>
        <th>Delete Task</th>
    </tr>
    {% for todolist in isi_todolist %}
    <tr>
        <th>{{todolist.date}}</th>
        <th>{{todolist.title}}</th>
        <th>{{todolist.description}}</th>
        <th><a href="{% url 'todolist:hapustask' todolist.pk %}"><button>Delete</button></th>
    </tr>
{% endfor %}
</table>

<p align="center">
<button><a href="{% url 'todolist:create-task' %}">Add New Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
</p>

{% endblock content %}